h1{
    color: blueviolet;
}
.one{ color: brown;}
* /* h3{
    color: blue;
} */
/* .one{
    hello
} */

/* #one{
    background-color: plum;/
} */
/* a[href='http://google.com']{
    background-color: chartreuse;
    color: cornsilk;
} */
/* a[href^='http']{
    background-color: chartreuse;
    color: cornsilk;
} */
/* a[href$='in']{
    background-color: chartreuse;
    color: cornsilk;
} */
*{
    background-color: blueviolet;
}