
.main{height:525px;
    width:330px;
    border: 2px solid white;
    box-shadow:rgba(0,0,0,0.25)0px 54px 55px,rgba(0,0,0,0.12)0px -12px 30px,rgba(0,0,0,0.12)0px 4px 6px,rgba(0,0,0,0.17)0px 12px 13px,rgba(0,0,0,0.09)0px -3px 5px;
    border-radius: 5px;}

.upper{
    height: 90PX;
    width: 298PX;
     border:2PX solid white;
      margin-top: 10px;
      border-radius: 8px; 
      background-color: rgb(222, 237, 243);
      font-size: 32px; 
      text-align: center; 
      display: flex;
     justify-content: center; 
     align-items: center; 
      padding: 5px;
        margin-bottom: 5px;
}
.hey{
    border-radius: 5px;
    background-color: lightgray;
}
.hey1{
    background-color:rgb(151, 148, 148);
    border-radius: 5px;
}
button{
    width: 50px;
    height:55px;
    border-color:white;
}