#main{
    border:3px solid grey;
    height:800px;
    width: 700px;
    margin:12px auto;
    display: grid;
     /* grid-auto-flow:row; */
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    box-shadow:rgba(0,0,0,0.25)0px 54px 55px,rgba(0,0,0,0.12)0px -12px 30px,rgba(0,0,0,0.12)0px 4px 6px,rgba(0,0,0,0.17)0px 12px 13px,rgba(0,0,0,0.09)0px -3px 5px;;
}
.one{
    border:1.3px solid gray;
    
}

 #one{
    grid-row-start:2;
    grid-row-end:3;
   }


img{
    height:100%;
    width:100%;
}
.one:hover{
    transform: scale(1.1);
    
}